<html>
<head>
	<title>这个页面找不到了</title>
	<link rel="stylesheet" href="../static/css/style_404.css">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200italic,200,300,300italic,400italic,600,600italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
	<!-- For-Mobile-Apps-and-Meta-Tags -->
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //For-Mobile-Apps-and-Meta-Tags -->

</head>
<body>
	<div class="main w3l">
		<h2> </h2>
		<h1>404</h1>
		<h3 style="color: white">奇怪，页面失踪了</h3>
		<a href="{% url 'index' %}" class="back" style="color: white">BACK TO HOME</a>

	</div>

</body>
</html>