<!DOCTYPE html>
<html lang="zh">
{% load staticfiles %}
<head>
	<!-- set the encoding of your site -->
	<meta charset="utf-8">
	<!-- set the viewport width and initial-scale on mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- set the HandheldFriendly -->
	<meta name="HandheldFriendly" content="True">
	<!-- set the description -->
	<meta name="description" content="Qika Anime">
	<!-- set the Keyword -->
	<meta name="keywords" content="">
	<meta name="author" content="zzc">
	<!-- include poppins google font cdn link -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700,700i%7CRoboto:400,400i,500,500i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:900" rel="stylesheet">
	<!-- set the page title -->
	<title>QiKa动漫</title>
	<!-- include the site bootstrap stylesheet -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<!-- include the site Fontsicon stylesheet -->
	<link rel="stylesheet" href="{% static 'css/fontsicon.css' %}">
	<!-- include the site Plugins stylesheet -->
	<link rel="stylesheet" href="{% static 'css/plugins.css' %}">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<!-- include theme color setting stylesheet -->
	<link rel="stylesheet" href="{% static 'css/colors.css' %}">
	<!-- include the site responsive stylesheet -->
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/zico.min.css' %}" >
    <style>
        #timer {
          color: #F6F4F3;
          text-align: center;
          text-transform: uppercase;
          font-family: "Lato", sans-serif;
          font-size: .7em;
          letter-spacing: 5px;
        }

        .days, .hours, .minutes, .seconds {
          display: inline-block;
          padding: 20px;
          width: 140px;
          border-radius: 5px;
        }

        .days {
          background: #EF2F3C;
        }

        .hours {
          background: #F6F4F3;
          color: #183059;
        }

        .minutes {
          background: #276FBF;
        }

        .seconds {
          background: #F0A202;
        }

        .numbers {
          font-family: "Montserrat", sans-serif;
          color: #183059;
          font-size: 5em;
        }
    </style>
</head>
<body>
	<!-- pageWrapper -->
	<div id="pageWrapper">
		<!-- pageHeader -->
		<header id="pageHeader">
			<div class="headerFixer">
				<div class="bg-white">
					<!-- pageHeaderHolder -->
					<div class="container clearfix pageHeaderHolder">
						<!-- logo -->
						<div class="logo alignleft">
							<a href="{% url 'index' %}">
								<img src="{% static 'images/logo.png' %}" alt="QiKa">
							</a>
						</div>
						<!-- pageNavHolder -->
						<div class="pageNavHolder alignright d-flex justify-content-end align-items-md-start">
							<!-- topBarSearchFormOpener -->
							<a class="topBarSearchFormOpener d-flex d-md-none align-items-center justify-content-center flex-shrink-0" data-toggle="collapse" href="#searhFormCollpase" role="button" aria-expanded="false" aria-controls="searhFormCollpase">
								<i class="fas fa-search"><span class="sr-only">icon</span></i>
							</a>
							<!-- pageNav navbar -->
							<nav id="pageNav" class="navbar navbar-expand-lg order-lg-1">
								<!-- pageMainNavOpener -->
								<button class="navbar-toggler pageMainNavOpener" type="button" data-toggle="collapse" data-target="#pageMainNavCollapse" aria-controls="pageMainNavCollapse" aria-expanded="false" aria-label="Toggle navigation">
									<span class="navbar-toggler-icon"></span>
								</button>
								<!-- mainNavCollapse navbar collapse -->
								<div class="collapse navbar-collapse mainNavCollapse" id="pageMainNavCollapse">
									<!-- pageMainNavigation navbar nav -->
									<ul class="navbar-nav pageMainNavigation justify-content-md-end">
										<li class="nav-item">
											<a class="nav-link fwMedium text-uppercase dropdown-toggle" href="{% url 'index' %}" role="button">主页</a>
										</li>
                                        <li class="nav-item">
											<a class="nav-link fwMedium text-uppercase dropdown-toggle" href="{% url 'tags:anime_quater' 201907 %}" role="button">七月新番</a>
										</li>
										<li class="nav-item">
											<a class="nav-link fwMedium text-uppercase dropdown-toggle" href="{% url 'tags:tag_index' 'index' %}" role="button">分类</a>
										</li>
                                        <li class="nav-item dropdown">
                                            {% if request.user.is_authenticated %}
                                                <a class="nav-link fwMedium text-uppercase dropdown-toggle " href="{% url 'users:info' request.user.id %}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">个人中心</a>
                                                <div class="dropdown-menu mainNavDropdown text-uppercase">
                                                    <ul class="list-unstyled navDropdownList">
                                                        <li><a class="dropdown-item" href="{% url 'users:info' request.user.id %}">我的信息</a></li>
                                                        <li><a class="dropdown-item" href="{% url 'users:collection' request.user.id %}">我的收藏</a></li>
                                                        <li><a class="dropdown-item" href="{% url 'users:comment' request.user.id %}">我的评论</a></li>
                                                        <li><button class="dropdown-item" data-toggle="modal" data-target="#change_pwd">修改密码</button></li>
                                                        <li><a class="dropdown-item" href="{% url 'account:logout' %}">退出登陆</a></li>
                                                    </ul>
                                                </div>
                                            {% else %}
                                                <a class="nav-link fwMedium text-uppercase dropdown-toggle " href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">个人中心</a>
                                                <div class="dropdown-menu mainNavDropdown text-uppercase">
                                                    <ul class="list-unstyled navDropdownList">
                                                        <li><button class="dropdown-item" data-toggle="modal" data-target="#login">登录</button></li>
                                                        <li><button class="dropdown-item" data-toggle="modal" data-target="#register">注册</button></li>
                                                        <li><button class="dropdown-item" data-toggle="modal" data-target="#password_forget">忘记密码</button></li>
                                                    </ul>
                                                </div>
                                            {% endif %}
										</li>
									</ul>
								</div>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</header>
        <main>
        {% block load_css %}
        {% endblock %}
        {% block content %}
            这是BASE页面
        {% endblock %}
        <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="loginTitle" style="position: relative;left: 45%;">登录</h3>
                    </div>
                    <div class="modal-body">
                        <form method="post" class="reviewSubmissionForm">
                            <div class="form-row">
                                {% csrf_token %}
                                <div class="form-group col-md-1"></div>
                                <div class="form-group col-md-10">
                                    <input type="text" class="form-control" id="login_username" placeholder="请输入账号" name="username" required>
                                </div>
                                <div class="form-group col-md-1"></div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-1"></div>
                                <div class="form-group col-md-10">
                                    <input type="password" class="form-control" id="login_password" placeholder="请输入密码" name="password" required>
                                </div>
                                <div class="form-group col-md-1"></div>

                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-1"></div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" id="login_captcha" placeholder="请输入验证码" name="captcha" required>
                                </div>
                                <div class="form-group col-md-4">
                                    <a href="javascript:void(0);"><img id="captcha_img" src="#" /></a>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4"></div>
                                <div class="form-group col-md-4">
                                    <button class="btn btnThemeOutine btnThemeOutineNotWhite text-uppercase" type="button" data-hover="发送" id="login_btn">
                                        <span class="d-block btnText">登录</span>
                                    </button>
                                </div>
                            </div>
                            <div class="alert alert-danger" role="alert" id="login_msg" style="display: none"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="register" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="registerTitle" style="position: relative;left: 45%;">注册</h3>
                    </div>
                    <div class="modal-body">
                        <form method="post">
                            <div class="form-row">
                                {% csrf_token %}
                                <div class="form-group col-md-1"></div>
                                <div class="form-group col-md-10">
                                    <input type="text" class="form-control" id="register_username" placeholder="请输入账号" name="username" required>
                                </div>
                                <div class="form-group col-md-1"></div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-1"></div>
                                <div class="form-group col-md-10">
                                    <input type="text" class="form-control" id="register_nickname" placeholder="请输入昵称" name="nickname" required>
                                </div>
                                <div class="form-group col-md-1"></div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-1"></div>
                                <div class="form-group col-md-10">
                                    <input type="email" class="form-control" id="register_email" placeholder="请输入邮箱" name="email" required>
                                </div>
                                <div class="form-group col-md-1"></div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-1"></div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" id="register_captcha" placeholder="请输入验证码" name="email_captcha" required>
                                </div>
                                <div class="form-group col-md-5">
{#                                  <button type="button" onclick="sendemail(this, 60)"><span id="send_email">发送邮件(一分钟一次)</span></button>#}
                                    <button class="btn btnThemeOutine btnThemeOutineNotWhite text-uppercase" type="button" data-hover="一分钟一次" onclick="sendemail(this, 60)">
                                        <span class="d-block btnText">发送邮件</span>
                                    </button>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-1"></div>
                                <div class="form-group col-md-10">
                                    <input type="password" class="form-control" id="register_password" placeholder="请输入密码" name="password" required>
                                </div>
                                <div class="form-group col-md-1"></div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-1"></div>
                                <div class="form-group col-md-10">
                                    <input type="password" class="form-control" id="register_password2" placeholder="请确认密码" name="password2" required>
                                </div>
                                <div class="form-group col-md-1"></div>

                            </div>
                            <div class="alert alert-danger" role="alert" id="register_msg" style="display: none"></div>
                            <div class="modal-footer">
                                <div class="form-row">
                                    <button class="btn btnTheme text-uppercase btnRoudedLarge" type="button" data-hover="发送" id="register_btn">
                                        <span class="d-block btnText">注册</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="password_forget" tabindex="-1" role="dialog" aria-labelledby="password_forget" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="forget_password_Title" style="position: relative;left: 42%;">忘记密码</h3>
                    </div>
                    <div class="modal-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-md-1"></div>
                                <div class="form-group col-md-10">
                                    <input type="text" class="form-control" id="forget_username" placeholder="请输入账号" name="username" required>
                                </div>
                                <div class="form-group col-md-1"></div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-1"></div>
                                <div class="form-group col-md-10">
                                    <input type="email" class="form-control" id="forget_email" placeholder="请输入邮箱" name="email" required>
                                </div>
                                <div class="form-group col-md-1"></div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-5"></div>
                                <div class="form-group col-md-4">
                                    <button class="btn btnThemeOutine btnThemeOutineNotWhite text-uppercase" type="button" data-hover="发送" id="password_forget_btn">
                                        <span class="d-block btnText">邮箱验证</span>
                                    </button>
                                </div>
                            </div>
                            <div class="alert alert-success" role="alert" id="password_forget_msg_success" style="display:none;"></div>
                            <div class="alert alert-danger" role="alert" id="password_forget_msg_erro" style="display:none;"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="change_pwd" tabindex="-1" role="dialog" aria-labelledby="change_pwd" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="change_pwd_Title" style="position: relative;left: 42%;">修改密码</h3>
                    </div>
                    <div class="modal-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-md-1"></div>
                                <div class="form-group col-md-10">
                                    <input type="password" class="form-control" id="change_pwd1" placeholder="请输入密码" name="passowrd" required>
                                </div>
                                <div class="form-group col-md-1"></div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-1"></div>
                                <div class="form-group col-md-10">
                                    <input type="password" class="form-control" id="change_pwd2" placeholder="请确认密码" name="password1" required>
                                </div>
                                <div class="form-group col-md-1"></div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-5"></div>
                                <div class="form-group col-md-4">
                                    <button class="btn btnThemeOutine btnThemeOutineNotWhite text-uppercase" type="button" data-hover="确认" id="change_pwd_btn">
                                        <span class="d-block btnText">修改密码</span>
                                    </button>
                                </div>
                            </div>
                            <div class="alert alert-success" role="alert" id="change_pwd_msg_success" style="display:none;"></div>
                            <div class="alert alert-danger" role="alert" id="change_pwd_msg_erro" style="display:none;"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        </main>
        {#    底部页面    #}
        <div class="pageFooterAreaWrap position-relative text-center text-sm-left">
			<!-- pageFooterWrapHolder -->
            <aside class="subscribeAsideBlock">
                <div class="container position-relative pageFooterWrapHolder">
                    <h3 class="text-white" style="text-align: center">关于本站</h3>
                    <p style="text-align: center">感谢<a href="https://hmacg.cn/">H萌</a>对本网站的支持，提供了新番的资讯，这是由我（邮箱：185786424@qq.com）一个人完成的网站，也是我做的第一个网站</p>
                    <p style="text-align: center">大家如果遇到问题，可以发邮件给我的邮箱，部分页面在不同浏览器上效果可能有差距，还望多多包涵</p>
                    <p style="text-align: center">番剧信息或者链接有问题也可以联系我</p>
                    <div id="timer"></div>
                    <h4 class="text-white" style="text-align: center; padding: 20px;">已建站时间</h4>
                </div>
            </aside>
		</div>
		<span id="back-top" class="text-center rounded-circle"><i class="zi zi_pathUp" style="color: white;"></i></span>
	</div>

	<!-- include jQuery library -->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
{#	<script src="{% static 'js/jquery-3.3.1.min.js' %}" type="text/javascript"></script>#}
	<!-- include Plugins JavaScript -->
	<script src="{% static 'js/plugins.js' %}" type="text/javascript"></script>
	<!-- include custom JavaScript -->
	<script src="{% static 'js/jquery.main.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'js/jquery.gritter.js' %}"></script>
    <script>
      {# 发送短信验证码 #}
      function sendemail(obj,second){
          var email = $("#register_email").val();
          if(email){
  		      $.ajax({
                  url: "{% url 'apis:get_email_captcha' %}",
                  type: "GET",
                  dataType: "json",
                  data: {"email": email},
                  success: function (data) {
                       $.gritter.add({
                          // (string | mandatory) the heading of the notification
                          title: '提交结果',
                          // (string | mandatory) the text inside the notification
                        //text: 'This will fade out after a certain amount of time. Vivamus eget tincidunt velit. Cum sociis natoque penatibus et <a href="#" style="color:#ccc">magnis dis parturient</a> montes, nascetur ridiculus mus.'
                          text: data.msg
                      });
                  }
              });
  		      countDown(obj,second)
          } else{
              $.gritter.add({
                  // (string | mandatory) the heading of the notification
                  title: '提交结果',
                  // (string | mandatory) the text inside the notification
                  //text: 'This will fade out after a certain amount of time. Vivamus eget tincidunt velit. Cum sociis natoque penatibus et <a href="#" style="color:#ccc">magnis dis parturient</a> montes, nascetur ridiculus mus.'
                  text: '邮件发送失败'
              });
          }
      }
      function countDown(obj,second){
      // 如果秒数还是大于0，则表示倒计时还没结束
       // 获取默认按钮上的文字
       var time_count = document.getElementById('send_email');
       if(second>=0){

          // 按钮置为不可点击状态
          obj.disabled = true;
          // 按钮里的内容呈现倒计时状态
          time_count.value = "发送邮件"+'('+second+')';
          // 时间减一
          second--;
          // 一秒后重复执行
          setTimeout(function(){countDown(obj,second);},1000);
          // 否则，按钮重置为初始状态
          }else{
          // 按钮置为可点击状态
          obj.disabled = false;
          // 按钮里的内容恢复初始状态
          time_count.value = '发送邮件'
         }
      }
    </script>

    <script>
    get_captcha_img();
    $("#captcha_img").click(get_captcha_img);

    function get_captcha_img() {
        $.ajax({
            url: '{% url 'apis:get_captcha' %}',
            type: 'GET',
            dataType: 'text',
            success: function (data) {
                $('#captcha_img').attr('src', data);
            }
        });
    }
    </script>
    <script>
        // 这里在form中定义了，如果没定义可以用jquery添加事件
        // $("#id_captcha").blur(check_captcha);

        // 当失去焦点时检查验证码
        function check_captcha() {
            var captcha_code = $('#id_captcha').val();
            if (captcha_code.length == 0){
                return false
            }
            $.ajax({
                url: '{% url 'apis:check_captcha' %}',
                type: 'GET',
                dataType: 'json',
                data: {"captcha_code": captcha_code},
                success: function (data) {
                    if(data.code == 400){
                         $('.msg').html("验证码错误");
                    }else{
                        $('.msg').html("");
                    }
                }
            });
        }
    </script>
    <script>
        $("#register_btn").click(function () {
            // some_check
            var email = $('#register_email').val();
            var username = $('#register_username').val();
            var nickname = $('#register_nickname').val();
            var password = $('#register_password').val();
            var password2 = $('#register_password2').val();
            var email_captcha = $('#register_captcha').val();
            $.ajax({
                url: "{% url 'account:register' %}",
                type: "POST",
                dataType: "json",
                data: {
                    'email': email,
                    'username': username,
                    'nickname': nickname,
                    'password': password,
                    'password2': password2,
                    'email_captcha': email_captcha,
                },
                success: function (data) {
                    if(data.status == 200 ){
                        alert('注册成功');
                        window.location.href='{% url 'index' %}';
                    }else{
                        msg = "新错误类型";
                        if(data.status == 400 || data.status == 401 || data.status == 402){
                            msg = data.msg;
                            $('#register_msg').show();
                            $('#register_msg').text(msg)
                        }else{
                            for(var i in data.msg){
                                msg = i+data.msg[i];
                                break
                            }
                        }
                        $.gritter.add({
                            // (string | mandatory) the heading of the notification
                            title: '提交结果',
                            // (string | mandatory) the text inside the notification
                            //text: 'This will fade out after a certain amount of time. Vivamus eget tincidunt velit. Cum sociis natoque penatibus et <a href="#" style="color:#ccc">magnis dis parturient</a> montes, nascetur ridiculus mus.'
                            text: msg
                        });
                    }
                },
                // 解决csrftoken
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                }
            });
        });
    </script>
    <script>
        $("#login_btn").click(function () {
            // some_check
            var username = $('#login_username').val();
            var password = $('#login_password').val();
            var captcha = $('#login_captcha').val();
            $.ajax({
                url: "{% url 'account:login' %}",
                type: "POST",
                dataType: "json",
                data: {
                    'username': username,
                    'password': password,
                    'captcha': captcha,
                },
                success: function (data) {
                    if(data.status == 200 ){
                        window.location.href='{% url 'index' %}';
                    }else{
                        msg = "新错误类型";
                        if(data.status == 400 || data.status == 401){
                            msg = data.msg;
                            $('#login_msg').show();
                            $('#login_msg').text(msg)
                        }else{
                            for(var i in data.msg){
                                msg = i+data.msg[i];
                                break
                            }
                        }
                        $.gritter.add({
                            // (string | mandatory) the heading of the notification
                            title: '提交结果',
                            // (string | mandatory) the text inside the notification
                            //text: 'This will fade out after a certain amount of time. Vivamus eget tincidunt velit. Cum sociis natoque penatibus et <a href="#" style="color:#ccc">magnis dis parturient</a> montes, nascetur ridiculus mus.'
                            text: msg
                        });
                    }
                },
                // 解决csrftoken
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                }
            });
        });
    </script>
    <script>
        $("#password_forget_btn").click(function () {
            // some_check
            var username = $('#forget_username').val();
            var email = $('#forget_email').val();
            $.ajax({
                url: "{% url 'account:password_forget' %}",
                type: "POST",
                dataType: "json",
                data: {
                    'username': username,
                    'email': email,
                },
                success: function (data) {
                    if(data.status == 200 ){
                        msg = data.msg;
                        $('#password_forget_msg_erro').hide();
                        $('#password_forget_msg_success').show();
                        $('#password_forget_msg_success').text(msg)

                    }else{
                        msg = "新错误类型";
                        if(data.status == 400 || data.status == 401){
                            msg = data.msg;
                            $('#password_forget_msg_success').hide();
                            $('#password_forget_msg_erro').show();
                            $('#password_forget_msg_erro').text(msg)

                        }else{
                            for(var i in data.msg){
                                msg = i+data.msg[i];
                                break
                            }
                        }
                        $.gritter.add({
                            // (string | mandatory) the heading of the notification
                            title: '提交结果',
                            // (string | mandatory) the text inside the notification
                            //text: 'This will fade out after a certain amount of time. Vivamus eget tincidunt velit. Cum sociis natoque penatibus et <a href="#" style="color:#ccc">magnis dis parturient</a> montes, nascetur ridiculus mus.'
                            text: msg
                        });
                    }
                },
                // 解决csrftoken
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                }
            });
        });
    </script>
    <script>
        $("#change_pwd_btn").click(function () {
            // some_check
            var password1 = $('#change_pwd1').val();
            var password2 = $('#change_pwd2').val();
            $.ajax({
                url: "{% url 'users:change_pwd' %}",
                type: "POST",
                dataType: "json",
                data: {
                    'password': password1,
                    'password1': password2,
                },
                success: function (data) {
                    if(data.status == 200 ){
                        msg = data.msg;
                        $('#change_pwd_msg_erro').hide();
                        $('#change_pwd_msg_success').show();
                        $('#change_pwd_msg_success').text(msg);
                    }else{
                        msg = "新错误类型";
                        if(data.status == 400 || data.status == 401){
                            msg = data.msg;
                            $('#change_pwd_msg_success').hide();
                            $('#change_pwd_msg_erro').show();
                            $('#change_pwd_msg_erro').text(msg)

                        }else{
                            for(var i in data.msg){
                                msg = i+data.msg[i];
                                break
                            }
                        }
                        $.gritter.add({
                            // (string | mandatory) the heading of the notification
                            title: '提交结果',
                            // (string | mandatory) the text inside the notification
                            //text: 'This will fade out after a certain amount of time. Vivamus eget tincidunt velit. Cum sociis natoque penatibus et <a href="#" style="color:#ccc">magnis dis parturient</a> montes, nascetur ridiculus mus.'
                            text: msg
                        });
                    }
                },
                // 解决csrftoken
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                }
            });
        });
    </script>
    <script>
        const Birthday = new Date("August 21, 2019 12:00:00").getTime();

        // countdown
        let timer = setInterval(function() {

          // get today's date
          const today = new Date().getTime();

          // get the difference
          const diff = today - Birthday;

          // math
          let days = Math.floor(diff / (1000 * 60 * 60 * 24));
          let hours = Math.floor((diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
          let minutes = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60));
          let seconds = Math.floor((diff % (1000 * 60)) / 1000);

          // display
          document.getElementById("timer").innerHTML =
            "<div class=\"days\"> \
          <div class=\"numbers\">" + days + "</div>days</div> \
        <div class=\"hours\"> \
          <div class=\"numbers\">" + hours + "</div>hours</div> \
        <div class=\"minutes\"> \
          <div class=\"numbers\">" + minutes + "</div>minutes</div> \
        <div class=\"seconds\"> \
          <div class=\"numbers\">" + seconds + "</div>seconds</div> \
        </div>";

        }, 1000);
    </script>
    {% block load_js %}
    {% endblock %}
</body>
</html>