{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <nav class="pageBdWrapNav bg-light"  aria-label="breadcrumb">
        <div class="container">
            <div class="row align-items-md-center">
                <div class="col-12 col-md-7">
                    <!-- breadcrumb -->
                    <ol class="breadcrumb pageBreadcrumb m-0 p-0 text-capitalize">
                        <li class="breadcrumb-item">
                            <a href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">重置密码</li>
                    </ol>
                </div>
                <div class="col-12 col-md-5 d-none d-md-flex align-items-md-center justify-content-md-end">
                    <!-- title -->
                    <strong class="title d-block text-right fontRoboto fwMedium text-capitalize text-dark">重置密码</strong>
                </div>
            </div>
        </div>
    </nav>
    <hr class="d-block">
    <div class="container">
        <form method="post" class="reviewSubmissionForm">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-1"></div>
                <div class="form-group col-md-10">
                    <input type="password" class="form-control" placeholder="请输入密码" name="password1" required>
                </div>
                <div class="form-group col-md-1"></div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-1"></div>
                <div class="form-group col-md-10">
                    <input type="password" class="form-control" placeholder="请确认密码" name="password2" required>
                </div>
                <div class="form-group col-md-1"></div>
            </div>
            {% if code == 400 %}
                <div class="alert alert-danger" role="alert" id="register_msg" style="display: block">{{ msg }}</div>
            {% elif code == 200 %}
                <div class="alert alert-success" role="alert" id="register_msg" style="display: block">{{ msg }}</div>
            {% else %}
            {% endif %}
            <div class="form-row">
                <div class="form-group col-md-1"></div>
                <div class="form-group col-md-10">
                    <button class="btn btnTheme text-uppercase btnRoudedLarge" type="submit" data-hover="发送">
                        <span class="d-block btnText">重置密码</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}