certifi==2019.6.16
chardet==3.0.4
Django==1.11.20
django-ckeditor==5.7.1
django-js-asset==1.2.2
django-redis==4.10.0
easy-thumbnails==2.6
idna==2.8
mysql-client==0.0.1
mysqlclient==1.4.2.post1
Pillow==6.1.0
pytz==2019.1
redis==3.3.5
requests==2.22.0
urllib3==1.25.8
