/* selectors with theme's color property */
.quantity-button:hover,
.hTitle,
.btnMore:hover,
.btnTheme.btnThemeWhiteInverse .btnText,
.loginLinksList a:hover,
.topBarSearchForm button:hover,
.pageNavBtnCart:hover,
.topBarSearchFormOpener:hover,
.pageMainNavigation.navbar-nav .nav-item.active .nav-link,
.pageMainNavigation.navbar-nav .nav-link:hover,
.pageMainNavigation .navDropdownList li.dropdown:hover > .dropdown-item,
.pageMainNavigation .navDropdownList li.dropdown-submenu:hover > .dropdown-item,
.pageMainNavOpener:hover,
.featuresList .icn,
.widget.widget_search button:hover,
.widget.rpListWidget h4 a:hover,
.widget.rpListWidget .h4 a:hover,
.widget.rpListWidget h5,
.widget.rpListWidget .h5,
.serviceColumn .icn,
.stepsGuideList h3:before,
.stepsGuideList .h3:before,
.filterList li.active a,
.filterList a.active,
.filterList a:hover,
.filtersNavTabs.nav-tabs .nav-link:hover,
.filtersNavTabs.nav-tabs .nav-link.active,
.prPostColumn h3 a:hover,
.prPostColumn .h3 a:hover,
.clientQuote h3 a:hover,
.clientQuote .h3 a:hover,
.ratingStarList > li.active,
.testimonialSwitcherSlider .slick-arrow:hover,
.testimonialSwitcherSlider02 .slick-arrow:hover,
.ltPostColumn h3 a:hover,
.ltPostColumn .h3 a:hover,
.ltPostColumn .posterTagline a:hover,
.yoeListing .icn,
.wwdTabsetAreaWrap .accOpener:hover,
.wwdTabsetList.nav-tabs.wwdTabsetList05 .nav-link.active,
.wwdTabsetList.nav-tabs .nav-link:hover,
.phadrList .icnWrap,
.phadrList a:hover,
.pgSearchFormOpener:hover,
.bsSSlide.slick-current .holderWrap:before,
.svcColumn.hover .icn,
.svcColumn.hover h3,
.svcColumn.hover .h3,
.svcColumn h3 a:hover,
.svcColumn .h3 a:hover,
.hwwColumnsList a:hover,
.hwwColumnsList > li.hover h3,
.hwwColumnsList > li.hover .h3,
.socialLinksSimple a:hover,
.bannerAsideServicesList .icn,
.swwdPost h3 a:hover,
.swwdPost .h3 a:hover,
.hiwStepsList > li:before,
.hiwStepsList h3 a:hover,
.hiwStepsList .h3 a:hover,
.hiwStepsList > li.hover h3,
.hiwStepsList > li.hover .h3,
.npProjectsSlider .slick-arrow:hover,
.powVisualPost h3 a:hover,
.powVisualPost .h3 a:hover,
.pricePlanColumn h2,
.pricePlanColumn .h2,
.popItemColumn h4,
.popItemColumn .h4,
.viewSorterList > li.active > a,
.viewSorterList > li > a:hover,
.dsSortDropdown .dropdown-toggle:hover,
.popItemColumn__listView h2 a:hover,
.popItemColumn__listView .h2 a:hover,
.popItemColumn__listView h3,
.popItemColumn__listView .h3,
.filtersSidebarOpener:hover,
.sdbWDescription h2,
.sdbWDescription .h2,
.benefitsFeaturedList .icn,
.cartTable.table .price,
.cartTotal.table .price,
.checkoutAlert.alert-light a,
.checkoutCountTable.table .price,
.teamColumn h3 a:hover,
.teamColumn .h3 a:hover,
.ctAddress a:hover,
.ctList .icn,
.ctList a:hover,
.statusesList a:hover,
.quoteDefault:after,
.piSocialLinks a:hover,
.quantity-button:hover,
.ltPostColumn.hover h3,
.ltPostColumn.hover .h3,
.swwdPost.hover h3,
.swwdPost.hover .h3,
.yoeListing > li.hover h3,
.yoeListing > li.hover .h3,
.bannerAsideServicesList > li.hover h3,
.bannerAsideServicesList > li.hover .h3,
.featuresList.featuresList04 > li.hover h3,
.featuresList.featuresList04 > li.hover .h3,
.popItemColumn.hover h3,
.popItemColumn.hover .h3,
.popItemColumn h3 a:hover,
.popItemColumn .h3 a:hover,
.widget.widget_categories .cat-item a:hover,
.bpCommentsList h3 a:hover,
.bpCommentsList .h3 a:hover,
.ctList li.hover h3,
.ctList li.hover .h3,
.booked-calendar thead tr .fa,
.prjctDescrColumn h3 a:hover,
.prjctDescrColumn .h3 a:hover,
.prjctDescrColumn.hover h3 a,
.prjctDescrColumn.hover .h3 a,
.reviewsList h3 a:hover,
.reviewsList .h3 a:hover {
  color: #39b54a;
}

/* selectors with theme's background color property */
.ui-widget-header,
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
.btnThemeOutine:before,
.btnTheme .btnText,
.btnTheme:before,
.slickDots li.slick-active button,
.slickDots button:hover,
.slickBars li.slick-active button,
.pageHeaderHolder.pageHeaderHolder02,
.topBarContactList a,
.loginLinksList,
.booked-calendar tbody tr .bg-green,
.booked-calendar tbody tr td .active,
.pageNavHolder.pageNavHolder03,
.pageNavHolder.pageNavHolder05,
.pageMainNavigation.navbar-nav .nav-item.active .nav-link,
.pageMainNavigation.navbar-nav .nav-link:before,
.pageMainNavigation.navbar-nav .nav-link:hover,
.mainNavDropdown.dropdown-menu .dropdown-item:hover,
.mainNavDropdown.dropdown-menu .dropdown-item.active,
.bannerSliderBlock.bannerSliderBlock02 .slick-arrow:hover,
.bannerSliderBlock.bannerSliderBlock03 .slick-arrow:hover,
.bannerSliderBlock.bannerSliderBlock04 .slick-arrow:hover,
.bannerSliderBlock.bannerSliderBlock05 .slick-arrow:hover,
.bannerSliderBlock .slick-arrow:hover,
.widget.widget_tag_cloud .tagcloudItem:hover,
.widget.widget_tag_cloud .tagcloudItem.active,
.widgetFormtHead,
.serviceColumn .columnBgCover:before,
.filterList li:after,
.filterList a:after,
.filtersNavTabs.nav-tabs .nav-link:after,
.filtersNavTabs.nav-tabs .nav-link:hover,
.filtersNavTabs.nav-tabs .nav-link.active,
.videoAside.overlayThemeColor.hover:before,
.videoAside.overlayThemeColor:before,
.btnPlay,
.ltPostColumn .time,
.ltPostColumn .ltPostBgCoverImage:before,
.wwdTabsetAreaWrap .accOpener[aria-expanded="true"],
.wwdTabsetList.nav-tabs.wwdTabsetList05 .nav-link:after,
.wwdTabsetList.nav-tabs.shpTabsetList .nav-link:before,
.wwdTabsetList.nav-tabs .nav-link.active,
.phSocialLinks > li > a:hover,
.languageSlctDrop .dropdown-item:hover,
.languageSlctDrop .dropdown-item.active,
.bsSSlide:after,
.pSsImage:before,
.hwwColumnsList .align:before,
.pricePlanColumn.hover .btn,
.pricePlanColumn .chBgCover:before,
.popItemColumn[data-featured-tag]:before,
.popActionsList > li > a:hover,
.dsSortDropdown .dropdown-item.active,
.pagination.pagePagination .page-item.active .page-link,
.pagination.pagePagination .page-link:hover,
.detailsImageSlider .imgWrap[data-featured-tag]:before,
.cartForm .btnToCart:hover,
.custom-control .custom-control-input:checked ~ .custom-control-label:after,
.teamColumn.hover .captionWrap,
.slickGalleryBars li.slick-active button,
.swwdColumnsSliderType2 .slick-arrow:hover,
.rpPosterSlider .slick-arrow:hover,
.featuresList .wrap.hover,
#back-top,
.phadrList li.hover .icnWrap,
.hiwStepsList > li.hover:before,
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #39b54a;
}

/* selectors with theme's border color property */
.quantity input,
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
.btnThemeOutine:before,
.btnThemeOutine .btnText,
.btnTheme .btnText,
.btnTheme:before,
.topBarSearchForm,
.topBarSearchForm .form-group,
.bannerSliderBlock.bannerSliderBlock02 .slick-arrow,
.bannerSliderBlock.bannerSliderBlock03 .slick-arrow,
.bannerSliderBlock.bannerSliderBlock04 .slick-arrow,
.bannerSliderBlock.bannerSliderBlock05 .slick-arrow,
.widget.rpListWidget ul > li.hover .imgWrap,
.stepsGuideList > li.hover .icn,
.stepsGuideList > li.active .icn,
.filtersNavTabs.nav-tabs .nav-link,
.wwdTabsetList.nav-tabs .nav-link.active,
.phSocialLinks > li > a:hover,
.pgSearchFormOpener:hover,
.popActionsList > li > a:hover,
.pagination.pagePagination .page-item.active .page-link,
.pagination.pagePagination .page-link:hover,
.popItemColumn__listView.hover,
.cartForm .btnToCart,
.swwdColumnsSliderType2 .slick-arrow,
.rpPosterSlider .slick-arrow,
.phadrList li.hover .icnWrap {
  border-color: #39b54a;
}
